<div class="post-card">
    <img src="<%= post.imageUrl %>" alt="<%= post.title %>" width="200" />
    <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
    <p><%= post.content %></p>
    <p><%= post.readTime %></p>
    <small><%= post.type %></small>
    <small><%= post.createdDate %></small>
  </div>